@media screen and (min-width: 880px) {
    h1.handler {
        display: block;
        width: 100%;
    }

    #hambutton {
        display: none;
    }
    
    nav {
        flex-direction: row;
        justify-content: flex-end;
    }
    
    nav a {
        display: block;
        font-size: 1.5rem;
    }
}

#navmenu {
    display: flex;
    gap: 1rem;
    /* Adjust the gap between the links as needed */
}

#navmenu a {
    text-decoration: none;
    color: inherit;
    /* Adjust the color as needed */
}
