:root {
    --purple: rgb(60, 10, 100);
    --blue: rgb(29, 77, 114);
    --blue-1: rgba(29, 77, 114, 0.1);
    --blue-7: rgba(29, 77, 114, 0.7);
    --brown: rgba(100, 50, 25, 1);
    --yellow: rgba(255, 255, 0, 1);
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: var(--purple);
    color: white;
    text-align: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    position: relative;
}

h1.handler{
    padding: 1 rem;
    margin: 0;
}


h1 {
    padding: 1rem;
}



#hambutton {
    display: block;
    font-size: 3rem;
    background-color: var(--purple);
    text-decoration: none;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 1rem;
    float: right;
}

#hambutton::before {
    content: "≡";
}

#hambutton.show::before {
    content: "×";
}

nav {
    display: grid;
    flex-direction: column;
    height: 80px;
    width: 100%;

}

nav a {
    text-decoration: none;
    padding: 1rem 1.2rem;
    display: none;
    font-size: 2rem;
}

a:active,a:hover {
    color: var(--yellow);
    font-weight: 700;
    transition: .5s;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    text-transform: uppercase;
}

.checkbtn {
    font-size: 30px;
    line-height: 80px;
    margin-right: 20px;
    cursor: pointer;
}

#check {
    display: none;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

main img {
    width: 100%;
    height: auto;
}

h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.temple {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
}

figure {
    margin-bottom: 1rem;
}

figcaption {
    text-align: center;
    color: var(--purple);
}

footer {
    background-color: var(--purple);
    color: white;
    text-align: center;
    padding: 10px;
}

.smaller {
    font-size: smaller;
}

.handler {
    margin-bottom: 0cap;
}


#navmenu {
    display: none;
}

#navmenu.show {
    display: block;
}

@media (max-width: 952px) {
    nav {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}


@media (max-width: 858px) {

    .checkbtn {
        display: block;
    }

    nav ul li {
        display: block;
        
    }
}

