:root {
    --purple: rgb(60, 10, 100);
    --blue: rgb(29, 77, 114);
    --blue-1: rgba(29, 77, 114, 0.1);
    --blue-7: rgba(29, 77, 114, 0.7);
    --brown: rgba(100, 50, 25, 1);
    --yellow: rgba(255, 255, 0, 1);
}

* {
    margin: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: var(--purple);
    color: white;
    text-align: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    position: relative;
}

h1 {
    padding: 1rem;
}

#hambutton {
    display: block;
    font-size: 3rem;
    background-color: var(--purple);
    text-decoration: none;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 1rem;
}

#hambutton::before {
    content: "≡";
}

#hambutton.show::before {
    content: "×";
}

nav {
    display: flex;
    flex-direction: column;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 1rem 1.2rem;
    display: block;
    font-size: 2rem;
}

nav a:hover,
nav a:active {
    color: var(--yellow);
    font-weight: 700;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

main img {
    width: 100%;
    height: auto;
}

h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.temple {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
}

figure {
    margin-bottom: 1rem;
}

figcaption {
    text-align: center;
    color: var(--purple);
}

footer {
    background-color: var(--purple);
    color: white;
    text-align: center;
    padding: 10px;
}

.smaller {
    font-size: smaller;
}

.handler {
    margin-bottom: 0cap;
}

#navmenu {
    display: none;
}

#navmenu.show {
    display: block;
}

@media (max-width: 768px) {
    #hambutton {
        display: block;
    }

    #navmenu {
        display: none;
    }

    #navmenu.show {
        display: block;
    }
}